@model ICollection<TrainingViewModel>

@using System.Security.Claims
@using SweetAcademy.Services.Data.Interfaces
@inject IChefService ChefService

@{
    ViewBag.Title = "All Trainings";

    bool IsChef = false;
    ChefViewModel chef = null!;

    if (User.Identity!.Name != null)
    {
        Guid userId = Guid.Parse(User!.FindFirstValue(ClaimTypes.NameIdentifier));
        IsChef = await ChefService.ChefExistByUserIdAsync(userId);
        if (IsChef)
        {
            chef = await ChefService.GetChefByIdAsync(await ChefService.GetChefIdByUserIdAsync(userId));
        }
    }
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="text-center row">
    @if (Model.Count > 0)
    {
        @if (IsChef)
        {
            <div class="row text-center">
                <div class="col-md-6">
                    <form class="btn btn-sm position-relative top-10 start-0" asp-area="" asp-controller="Training" asp-action="AllByChef" asp-route-id="@chef!.Id" method="get">
                        <input type="submit" value="Show only owned by Chef, @chef!.FullName " class="fs-6 btn-sm btn-success " />
                    </form>
                </div>
                @if (@ViewBag.IsFilteredByChefId)
                {
                    if (User.IsInRole(RoleAdminName))
                    {
                        <div class="col-md-6">
                            <form class="btn btn-sm position-relative top-15 end-5" asp-area="Admin" asp-controller="Training" asp-action="All" method="get">
                                <input type="submit" value="Back to View as Admin " class="fs-6 btn-sm btn-primary " />
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6">
                            <form class="btn btn-sm position-relative top-15 end-5" asp-area="" asp-controller="Training" asp-action="All" method="get">
                                <input type="submit" value="Get back to all trainings " class="fs-6 btn-sm btn-primary " />
                            </form>
                        </div>
                    }
                  
                }
            </div>
            <hr />
        }
        @foreach (var training in Model)
        {
            <div class="card col-4" style="width: 20rem; ">
                <img src="@training.Recipe.ImageUrl" class="card-img-top img-fluid" alt="training image">
                <div class="card-body">
                    <h5 class="card-title mt-1 fs-4 fw-bold">@training.Name</h5>
                    <br />
                    <label class="text-secondary fw-bold fs-5">Description:</label>
                    <p class="mb-0 ">@training.Recipe.Description</p>
                    <br />
                    <label class="text-secondary fw-bold fs-5">Event starts on:</label>
                    <p class="mb-0 fw-bold text-dark">@training.StartDate.ToString("f")</p>

                </div>

                <div class="row-3">
                    <br />
                    @if (IsChef)
                    {
                        if (!training.Active)
                        {
                            <p class="text text-warning border bg-secondary fw-bold">CLOSED</p>
                        }
                        else
                        {
                            <form class="input-group-sm" asp-area="" asp-controller="Training" asp-action="Details" asp-route-id="@training.Id" method="get">
                                <input type="submit" value="Show details" class="fs-6 btn-sm btn-primary " />
                            </form>
                        }
                    }
                    else
                    {
                        <form class="input-group-sm" asp-area="" asp-controller="Training" asp-action="Details" asp-route-id="@training.Id" method="get">
                            <input type="submit" value="Show details" class="fs-6 btn-sm btn-primary " />
                        </form>
                    }
                    <br />
                </div>
            </div>

        }

    }
    else
    {
        <p>There is no added trainings yet!</p>

    }

</div>