@model ICollection<ShowRecipeViewModel>

@{
    ViewBag.Title = "All Recipes";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (Model.Count > 0)
    {
        @foreach (var recipe in Model)
        {
            <div class="card col-4" style="width: 20rem; ">
                <img src="@recipe.ImageUrl" class="card-img-top img-fluid" alt="@recipe.Name image">
                <div class="card-body">
                    <h5 class="card-title mt-1 fs-4 fw-bold">@recipe.Name</h5>
                    <br/>
                    <label class="text-secondary fw-bold fs-5">Description:</label>
                    <p class="mb-0 ">@recipe.Description</p>
                </div>
                <div class="row-3">
                    <div>
                        <p class="mb-0 fw-bold  fs-5"> <label class="text fs-5">Total price: </label> @recipe.TotalPrice BGN</p>
                    </div>
                    <br/>
                    <form class="input-group-sm" asp-area="" asp-controller="Recipe" asp-action="Details" asp-route-id="@recipe.Id" method="get">
                        <input type="submit" value="Show details" class="fs-6 btn-sm btn-primary "/>
                    </form>
                    @if (User.IsInRole(RoleAdminName))
                    {
                        <hr/>
                       if (recipe.Active)
                       {
                           <form class="input-group-sm" asp-area="Admin" asp-controller="Recipe" asp-action="Delete" asp-route-id="@recipe.Id"
                                 onsubmit="return confirm('Do you really want to delete the recipe?');">
                               <input type="submit" value="Delete recipe" class="fs-6 btn-xs btn-danger "/>
                           </form>
                       }
                       else
                       {
                           <form class="input-group-sm" asp-area="Admin" asp-controller="Recipe" asp-action="Activate" method="post" asp-route-id="@recipe.Id"
                                 onsubmit="return confirm('Do you really want to activete again the recipe?');">
                               <input type="submit" value="Set to ACTIVE recipe again" class="fs-6 btn-xs btn-danger "/>
                           </form>
                       }
                      
                    }

                    <br/>
                </div>
            </div>
        }
    }
    else
    {
        <p>There is no added recipes yet!</p>
        <p>May want to add some :   <a class="nav-link text-dark" asp-area="" asp-controller="Recipe" asp-action="AddRecipe">Click here to add recipe</a> </p>
    }
   
</div>