@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TrainingViewModel

@{
    ViewBag.Title = "Full information for the training";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">

    <div class="card text-center">
        <img style="width: 15rem; text-align: center; margin: auto;" src="@Model.Recipe.ImageUrl" class="card-img-top img-fluid" alt="training image">
        <div class="card-body">
            <h5 class="card-title mt-1 fs-4 fw-bold">@Model.Name</h5>
            <h6 class="fs-6 fw-bold"> with Chef @Model.ChefFullName</h6>
            <br />
            <label class="text-secondary fw-bold fs-5">Description:</label>
            <p class="mb-0 fw-bold ">@Model.Recipe.Description</p>
            <br />
            <label class="text-secondary fw-bold fs-5">Event starts on:</label>
            <p class="mb-0 fs-5 fw-bold ">@Model.StartDate.ToString("f")</p>

        </div>
        <div class="row-3">
            @{
                int seatsLeft = Model.OpenSeats - Model.Participators.Count;
                if (seatsLeft == 1)
                {
                    <label class="text-secondary fw-bold fs-5">Open seats left:</label>
                    <p class="mb-0 fw-bold fs-5 text-danger ">There`s only @seatsLeft left.<br /></p>

                    <p class="mb-0 fw-bold text-warning">Someone may take it just now.</p>
                }
                else if (seatsLeft > 1)
                {
                    <label class="text-secondary fw-bold fs-5">Open seats left:</label>
                    <p class="mb-0 fw-bold fs-5 text-success">
                        There are @seatsLeft seats.
                        <br />
                        <br />
                    </p>
                    <p class="mb-0 fw-bold">You are more than welcome to join and cook with us. Book your seat click on button below.</p>
                }
                else
                {
                    <label class="text-warning fw-bold fs-5">There is no Open seats left.</label>
                    <p>Please check again, these days will appear same event or try to book another one.</p>

                }

                decimal recipeTotalPrice = Model.Recipe.RecipeProducts
                .Sum(rp => rp.Product.Price * (decimal)rp.Quantity);

                decimal totalPrice =
                (recipeTotalPrice + Model.Trainer.TaxPerTrainingForStudent) * PlatformInterestForTrainingSession;

                totalPrice = decimal.Round(totalPrice, 2, MidpointRounding.AwayFromZero);
                <br />
                <div>
                    <p class="mb-0 fw-bold  fs-5"> <label class="text fs-5">Total price: </label> @totalPrice BGN</p>
                </div>
                <br />
                @if (seatsLeft == 0)
                {
                    <form class="input-group-sm" asp-area="Admin" asp-controller="Order" asp-action="Register" method="post" asp-route-id="@Model.Id">
                        <input disabled="" type="submit" value="Book your seat for the training" class="fs-6 btn-lg btn-disabled " />
                    </form>
                }
                else
                {
                    <form class="input-group-sm" asp-area="Admin" asp-controller="Order" asp-action="Register" method="post" asp-route-id="@Model.Id">
                        <input type="submit" value="Book your seat for the training" class="fs-6 btn-lg btn-success " />
                    </form>
                }
            }
            <br />
            <form class="input-group-sm" asp-area="Admin" asp-controller="Training" asp-action="All" method="get">
                <input type="submit" value="Back to all trainings" class="fs-6 btn-sm btn-primary " />
            </form>
            @if (Model.Active)
            {
                <hr />
                <form class="input-group-sm" asp-area="Admin" asp-controller="Training" asp-action="Delete" asp-route-id="@Model.Id"
                      onsubmit="return confirm('Do you really want to delete the training?');">
                    <input type="submit" value="Delete training" class="fs-6 btn-xs btn-danger " />
                </form>
            }
            else
            {
                <hr />
                <form class="input-group-sm" asp-area="Admin" asp-controller="Training" asp-action="Activate" asp-route-id="@Model.Id"
                      onsubmit="return confirm('Do you really want to activate again the training?');">
                    <input type="submit" value="Activate the training" class="fs-6 btn-xs btn-danger " />
                </form>
            }
            <br />
        </div>
    </div>
</div>